.login,
.reg_recruiter,
.reg_worker {
  position: relative;
  background-color: #eaeaea;
  max-width: 100%;
  padding: 1.875rem 1.25rem;
  margin-bottom: 0;
}

.forgot_password {
  width: max-content;
  margin-top: 15px;
  margin-left: auto;
  margin-bottom: 1.875rem;
}

.forgot_password a {
  color: var(--text-black);
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
}

.forgot_password a:hover {
  text-decoration: underline;
}

.btn_auth {
  background-color: var(--text-orange);
  width: 100%;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  color: var(--text-white);
  font-weight: 600;
  letter-spacing: 1px;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 16px;
}

.btn_auth:hover {
  background-color: var(--text-white);
  color: var(--text-orange);
  border: 1px solid var(--text-orange);
}

.btn_option {
  width: 100%;
  color: var(--text-white);
  font-weight: 600;
  font-size: 16px;
  padding-top: 0.8375rem;
  padding-bottom: 0.8375rem;
  border-radius: 4px;
  border: none;
  background-color: var(--text-purple);
}

.btn_option:hover {
  background-color: var(--text-white);
  color: var(--text-purple);
  border: 1px solid var(--text-purple);
}

.option {
  text-align: center;
  color: var(--text-black);
  font-size: 16px;
  font-weight: 400;
  margin-top: 15px;
}

.option a {
  color: var(--text-orange);
  text-decoration: none;
}

.option a:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .login,
  .reg_recruiter,
  .reg_worker {
    padding: 2.5rem 4.675rem 4.0625rem;
  }
  .btn_auth {
    font-size: 1rem;
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
  }
}

.right_title {
  color: var(--text-black);
  font-size: 32px;
  font-weight: 600;
  font-size: 2rem !important;
}

.right_subtitle {
  color: var(--text-gray);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .right {
    padding: 6.25rem 0 0 3.125rem;
  }
  .right_title {
    font-size: 2.375rem !important;
  }
  .right_subtitle {
    font-size: 1.125rem;
  }
}

@media screen and (max-width: 576px) {
  .login,
  .reg_recruiter,
  .reg_worker {
    background-color: var(--text-white);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .login {
    height: 100vh;
  }

  .reg_recruiter {
    height: 170vh;
  }

  .reg_worker {
    height: 150vh;
  }
}
