@import url('bootstrap/dist/css/bootstrap.min.css');
@import url('react-toastify/dist/ReactToastify.css');
@import url('@fortawesome/fontawesome-free/css/all.min.css');
@import '@fontsource/open-sans';

:root {
  --text-purple: #5e50a1;
  --text-orange: #fbb017;
  --text-black: #1f2a36;
  --text-gray: #46505c;
  --text-silver: #9ea0a5;
  --text-light-gray: #e2e5ed;
  --text-white-smoke: #f6f7f8;
  --text-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.purple__background {
  background-color: #5e50a1;
  width: 100%;
}

/* Navbar Start */
.navbar {
  /* margin-top: -25px; */
  /* margin-bottom: -40px; */
  /* padding: -50px 0; */
}

.navbar.navbar-shadow {
  box-shadow: 0 10px 50px rgba(132, 132, 132, 0.25);
  /* background-color: red; */
  /* padding: 1rem 0; */
  /* margin-bottom: -5px; */
}

.navbar-brand {
  line-height: -100px;
  margin-top: -40px;
  margin-bottom: -40px;
}

.navbar-brand:hover {
  cursor: pointer;
}

.navbar-toggler {
  padding: 0 !important;
  border: none;
  outline: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

ul.navbar-nav {
  align-items: center;
  flex-flow: row;
  justify-content: space-around;
  /* padding: 1.875rem 0; */
}

ul.navbar-nav .btn__action {
  margin-top: -25px;
  /* padding: 0.625rem 1.25rem; */
  font-weight: bold;
  color: #5e50a1;
  letter-spacing: 1px;
  font-size: 0.875rem;
}

ul.navbar-nav .btn__action.signin {
  border: 1px solid #5e50a1;
}

ul.navbar-nav .btn__action.signup {
  background-color: #5e50a1;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .ul.navbar-nav {
    padding: 0;
  }
}

.user__profile {
  width: 3.125rem;
  height: 3.125rem;
  margin-bottom: 0;
}

.user__profile:hover {
  cursor: pointer;
}
/* Navbar End */

/* Footer Start */
.footer__container {
  background-color: #5e50a1;
  /* padding-top: 3.125rem; */
  margin-bottom: 0;
}

.footer__wrapper {
  margin-bottom: 3.125rem;
  max-width: 350px;
}

.footer__image {
  /* width: 150px; */
  /* margin-bottom: 1.875rem; */
}

.footer__text {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 0;
  margin-top: -60px;
}

.footer {
  border-top: 1px solid #fff;
  padding-top: 1.875rem;
  padding-bottom: 2.625rem;
}

.footer__content {
  display: flex;
  align-items: center;
  color: #fff;
  flex-flow: column;
}

.footer__copyright {
  font-size: 1rem;
}

.footer__info {
  font-size: 1rem;
}

.footer__info a {
  margin-right: 5rem;
  text-decoration: none;
  color: #fff;
}

.footer__info a:last-child {
  margin-right: 0;
}

@media (min-width: 768px) {
  .footer__container {
    /* padding-top: 4.375rem; */
  }
  .footer__content {
    justify-content: space-between;
    flex-flow: row;
  }

  .footer__copyright {
    font-size: 1.125rem;
    margin-bottom: 0;
  }

  .footer__info {
    font-size: 1.125rem;
  }

  .footer__text {
    font-size: 1.125rem;
  }
}
/* Footer End */

.line {
  position: absolute;
  left: 0;
  border-bottom: 2px solid #f2f3f4;
}

.input-text .input-group .form-control {
  padding: 0.9375rem;
  border-radius: 0.25rem;
}

.input-text .input-group .form-control::placeholder {
  font-size: 0.875rem;
  color: #858d96;
}

.input-text .input-group .form-control:focus {
  box-shadow: none;
}

.input-text .input-group .input-group-text {
  background-color: #fff;
  height: 3.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* Not Found Start */
#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound {
  max-width: 710px;
  width: 100%;
  text-align: center;
  padding: 0px 15px;
  line-height: 1.4;
}

.notfound .notfound-404 {
  height: 200px;
  line-height: 200px;
}

.notfound .notfound-404 h1 {
  font-size: 168px;
  margin: 0px;
  color: var(--text-purple);
  text-transform: uppercase;
}

.notfound h2 {
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222;
  margin: 0;
}

.notfound-search {
  position: relative;
  padding-right: 123px;
  max-width: 420px;
  width: 100%;
  margin: 30px auto 22px;
}

.notfound-search input {
  width: 100%;
  height: 40px;
  padding: 3px 15px;
  color: #222;
  font-size: 18px;
  background: #f8fafb;
  border: 1px solid rgba(34, 34, 34, 0.2);
  border-radius: 3px;
}

.notfound-search button {
  font-family: 'Raleway', sans-serif;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 120px;
  height: 40px;
  text-align: center;
  border: none;
  background: var(--text-purple);
  cursor: pointer;
  padding: 0;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  border-radius: 3px;
}

.notfound a {
  font-family: 'Raleway', sans-serif;
  display: inline-block;
  font-weight: 700;
  border-radius: 15px;
  text-decoration: none;
  color: var(--text-purple);
}

.notfound a:hover {
  color: #1b1543;
}

.notfound a > .arrow {
  position: relative;
  top: -2px;
  border: solid var(--text-purple);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 {
    height: 122px;
    line-height: 122px;
  }
  .notfound .notfound-404 h1 {
    font-size: 122px;
  }
}
/* Not Found End */

/* .pagination .page-item {
  margin-right: 0.5rem;
}

.pagination .page-item.active {
  background-color: #5e50a1;
}

.pagination .page-link {
  border-color: #e2e5ed;
  padding: 15px;
  padding: 7px 15px;
  border-radius: 0.25rem;
} */

.purple {
  height: 300px;
  position: absolute;
}

/* Social Media Start */
.sosmed__vector {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-top: 15px;
}
.sosmed__vector a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: var(--text-silver);
}
.sosmed__vector a:hover {
  text-decoration: underline;
}
/* Social Media End */

/* Nav Tabs Start */
.nav-tabs {
  border: none;
  display: flex;
  gap: 20px;
}
.nav-tabs .nav-link {
  color: var(--text-silver);
  font-size: 20px;
  font-weight: 600;
  border: 0;
}
.nav-tabs .nav-link:hover {
  cursor: pointer;
  border: 0;
}
.nav-tabs .nav-link.active {
  border: 0;
  font-size: 20px;
  font-weight: 600;
  color: var(--text-black);
  border-bottom: 4px solid var(--text-purple);
  border-radius: 0;
}
/* Nav Tabs End */

/* Portofolio Start */
.portofolio__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.portofolio__content img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
  object-position: center;
}

.portofolio__content p {
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
  line-height: 24px;
  color: var(--text-black);
}

.portofolio__action {
  position: absolute;
  top: 10px;
  right: 5px;
}

.portofolio__action-delete {
  background-color: var(--text-orange);
  color: var(--text-white);
  padding: 5px 7px;
  border-radius: 5px;
  margin-right: 5px;
  border: 0;
}

.portofolio__action-delete:hover {
  background-color: var(--text-white);
  color: var(--text-orange);
  border: 1px solid var(--text-orange);
}

.experience__action {
  position: absolute;
  top: 0;
  right: -5px;
}
/* Portofolio End */

/* Work Experience Start */
.work__image {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.work__image img {
  width: 150px;
  height: auto;
}

.work__content h2 {
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  color: var(--text-black);
}

.work__content h5 {
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: var(--text-gray);
}

.work__content h6 {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-silver);
  line-height: 20px;
}

.work__content p {
  color: var(--text-black);
  font-size: 14px;
  font-weight: 400;
  margin-top: 25px;
}

/* Pagination Start */
.homepage__pagination {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.homepage__pagination-previous {
  background-color: #ffffff;
  padding: 12px 20px;
  border: 1px solid #e2e5ed;
  border-radius: 4px;
  margin: 0px 10px 0px 0px;
}

.home__pagination-active {
  background-color: #5e50a1;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  padding: 12px 20px;
  border: 1px solid #e2e5ed;
  border-radius: 4px;
  margin: 0px 10px 0px 0px;
}

.homepage__pagination-next {
  background-color: #ffffff;
  padding: 12px 20px;
  border: 1px solid #e2e5ed;
  border-radius: 4px;
  margin: 0px 10px 0px 0px;
}

.radio__container {
  display: flex;
  gap: 25px;
}

.radio__content {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.radio__content li {
  float: left;
  margin: 0 5px 0 0;
  width: 165px;
  height: 50px;
  position: relative;
}

.radio__content label,
.radio__content input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 0;
  border-radius: 7px;
  background-color: #f0f0f0;
  background-repeat: no-repeat;
}

.radio__content label {
  text-align: center;
  line-height: 35px;
}

.radio__content input[type='radio'] {
  opacity: 0.01;
  z-index: 100;
}

.radio__content input[type='radio']:checked + label,
.Checked + label {
  background: var(--text-purple);
  color: var(--text-white);
}

.radio__content label {
  padding: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  z-index: 90;
}

.radio__content label:hover {
  background: #ddd;
}
