.search {
  background-color: #e5e5e5;
}
.topjob__content {
  position: sticky;
  top: 0;
  padding: 1.255rem 0;
  /* margin-bottom: 3.125rem; */
}

.topjob__title {
  font-weight: 600;
  margin-bottom: 0;
  color: #fff;
}

.form__search {
  margin-top: 40px;
  width: 100%;
  margin-bottom: 35px;
}

.input__sort .input__column {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input__sort .input__column .drop__nav {
  position: relative;
  cursor: pointer;
  list-style: none;
}

.input__sort .input__column .drop__nav .btn__sort {
  color: #9ea0a5 !important;
}

.input__sort .input__column .drop__nav .dropdown {
  position: absolute;
  background-color: #fff;
  border-radius: 4px;
  min-width: max-content;
  display: none;
  right: 0;
  z-index: 1;
  padding: 0;
  top: 3.75rem;
}

.input__sort .input__column .drop__nav .dropdown.clicked {
  display: block;
  box-shadow: -8px 8px 58px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 0;
}

.input__sort .input__column .drop__nav .dropdown .nav-item {
  list-style: none;
}

.input__sort .input__column .drop__nav .dropdown .nav-item .nav-link {
  color: #1f2a36;
  padding: 1.25rem;
}

.btn__search {
  background-color: #5e50a1;
  color: #fff;
  padding: 0.5rem 1.875rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
}

.btn__search:hover {
  background-color: transparent;
  color: var(--text-purple);
  border: 1px solid var(--text-purple);
}

.icon__search {
  position: absolute;
  top: 1.125rem;
  right: -30%;
}

@media (min-width: 768px) {
  .search .form-group {
    width: 90%;
  }

  .input__sort .input__column .drop__nav .dropdown {
    width: auto;
  }

  .icon__search {
    right: 21%;
  }
}

.card__empty {
  box-shadow: 0px 1px 20px rgba(197, 197, 197, 0.25);
  background-color: var(--text-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 70px 0;
}

.card__empty h2 {
  margin-top: -90px;
  margin-bottom: 140px;
  font-weight: 700;
}

.card__container {
  position: relative;
  box-shadow: 0px 1px 20px rgba(197, 197, 197, 0.25);
  background-color: var(--text-white);
  width: 98%;
  /* padding: 1.25rem; */
  /* margin-bottom: 3.125rem; */
}

.card__content {
  display: flex;
  flex-flow: column;
  padding: 2.5rem 0;
  justify-content: center;
}

.card__content:first-child {
  padding-top: 0;
}

.card__wrapper {
  display: flex;
  flex-flow: column;
  gap: 15px;
}

.card__image {
  width: 10%;
  height: 10%;
  margin-left: auto;
  margin-right: auto;
}

.card__data {
  text-align: center;
}

.card__name {
  font-weight: 600;
  font-size: 22px;
  color: var(--text-black);
}

.card__job {
  font-weight: 400;
  font-size: 14px;
  color: var(--text-silver);
}

.card__location {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 400;
  font-size: 14px;
  color: var(--text-silver);
}

.card__icon {
  margin-right: 0.8125rem;
}

.card__badge {
  margin-top: 1rem;
  display: flex;
  overflow-x: scroll;
  margin-bottom: 1.875rem;
}

.card__badge::-webkit-scrollbar {
  display: none;
}

.card__button {
  background-color: rgba(251, 176, 23, 0.6);
  border: 1px solid #fbb017;
  border-radius: 4px;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: var(--text-white);
  padding: 0.375rem 0.75rem;
  /* color: #fff;
  padding: 0.375rem 0.75rem;
  font-weight: 600;
  font-size: 0.875rem;
  margin-right: 0.8125rem; */
}

.card__view {
  padding: 0.625rem 1.875rem;
  background-color: #5e50a1;
  color: #fff;
  font-weight: 600;
  font-size: 0.875rem;
}

.card__view:hover {
  background-color: transparent;
  color: var(--text-purple);
  border: 1px solid var(--text-purple);
}

.card__pagination {
  margin-top: 40px;
  margin-bottom: 45px;
}

.card__avatar {
  width: 100px;
  height: 100px;
}
@media (min-width: 768px) {
  .card__container {
    border-radius: 8px;
    padding: 2.5rem 4.375rem 0.1rem 1.25rem;
  }
  .card__content {
    align-items: center;
    justify-content: space-between;
    flex-flow: row;
  }
  .card__wrapper {
    flex-flow: row;
  }
  .card__image {
    margin-left: 0;
    margin-right: 1.875rem;
    margin-bottom: 0;
  }
  .card__data {
    text-align: left;
  }
  .card__badge {
    display: grid;
    gap: 0.8125rem;
    margin-bottom: 0;
    grid-template-columns: repeat(3, 1fr);
  }
  .card__button {
    margin-right: 0;
    padding: 0.375rem 1.25rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 576px) {
  .card__container {
    padding: 2.5rem 1.25rem 0.1rem 1.25rem;
  }

  .card__avatar {
    width: 100%;
    text-align: center;
  }
}
