.navbar {
  background-color: var(--text-white);
  padding: 15px 0;
  transition: all 0.5s ease;
  text-decoration: none;
  margin: 0 auto;
}

.navbar.navbar-shrink,
.navbar.navbar-shadow {
  box-shadow: 0 10px 50px rgba(132, 132, 132, 0.25);
}

.navbar-brand {
  width: 15%;
  height: 15%;
}

.navbar-brand:hover {
  cursor: pointer;
}

.navbar-toggler {
  padding: 0 !important;
  border: none;
  outline: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar .nav-item .nav-link {
  font-weight: 600;
  font-size: 18px;
  color: var(--text-black);
  position: relative;
  margin-left: 50px;
}

.navbar .nav-item .nav-link::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 2px;
  background-color: var(--text-black);
  transition: all 0.5s ease;
  transform: scale(0);
}

.navbar .nav-item .nav-link.active::before,
.navbar .nav-item .nav-link:hover::before {
  transform: scale(1);
}

ul.navbar-nav.auth {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

ul.navbar-nav.start {
  display: flex;
  gap: 15px;
}

.btn_auth {
  padding: 0.625rem 1.25rem;
  font-weight: 700;
  font-size: 14px;
  border-radius: 4px;
}

.btn_auth.signup:hover,
.btn_auth.signin {
  border: 1px solid var(--text-purple);
  color: var(--text-purple);
  background-color: transparent;
}

.btn_auth.signin:hover,
.btn_auth.signup {
  background-color: var(--text-purple);
  color: var(--text-white);
  border: none;
}

@media screen and (max-width: 576px) {
  .navbar {
    margin-top: -12px;
  }

  .navbar-brand {
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
  }

  .ul.navbar-nav {
    padding: 0;
  }
}

.user__profile {
  width: 3.125rem;
  height: 3.125rem;
  margin-bottom: 0;
}

.user__profile:hover {
  cursor: pointer;
}
