.profile {
  background-color: #e5e5e5;
}

.profile__user {
  background-color: #fff;
  position: relative;
  margin-top: 100px;
}

.profile__image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 32px 0;
}

.profile__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.profile__content h6 {
  font-size: 14px;
  font-weight: 400;
}

.profile__content p {
  font-size: 14px;
  font-weight: 400;
  color: #9ea0a5;
}

.edit__profile {
  background-color: #e5e5e5;
}

.edit__decoration {
  height: 400px;
  position: absolute;
  left: 0;
}

.card__padding {
  padding: 50px 0;
}

.card__profile {
  position: relative;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1.875rem;
  margin-bottom: 1.25rem;
}

.card__image {
  margin-bottom: 1.875rem;
}

.btn__edit {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 600;
  color: #9ea0a5;
}

.user__data {
  font-size: 0.875rem;
}

.job__info {
  display: flex;
  flex-flow: column;
}

.job__title {
  color: #1f2a36;
}

.text__gray {
  color: #9ea0a5;
}

.icon {
  margin-right: 0.8125rem;
}

.btn__main {
  padding: 0.9375rem;
  font-weight: 600;
  background-color: #5e50a1;
  color: #fff;
  margin: 1.25rem 0;
}

.btn__back {
  padding: 0.9375rem;
  font-weight: 600;
  background-color: transparent;
  color: #5e50a1;
  border: 1px solid #5e50a1;
}

.content__title {
  padding-bottom: 1.875rem;
}

.content__heading {
  margin-bottom: 0;
  font-size: 1.375rem;
  font-weight: 600;
}
/* @media (max-width: 768px) {
  .card__padding {
    padding: 100px 0;
  }
} */
